body {
  background-color: #E6F0FF;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333333;
  font-family: "Poppins", "Sans Seriff";
}

.container {
  align-self: center;
  padding: 20px;
  margin: 20px;
  width: 70%;
  box-shadow: 5px 5px 5px #2D336B;
  justify-items: center;
  border-radius: 10px;
  background-color: #FFF2F2;
}

.input-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;

}

.input-area button,
.input-area input {
  width: 200px;
  height: 25px;
  border: 0.5px solid #2D336B;
  border-radius: 8px;
}

.input-area button {
  border: none;
  height: 30px;
  align-self: center;
  background-color: #5A69B2;
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-area button:hover {
  cursor: pointer;
  background-color: #4C5CA7;
  box-shadow: 0 0 8px rgba(76, 92, 167, 0.6);
  transform: scale(1.05);
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.label-input {
  display: inline-flex;
  flex-direction: column;
}

.label-input>span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.error-input {
  color: #D64545;
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
  display: flex;
  align-items: center;
  gap: 4px;}


.edit {
  color: #69B25A;
  border: 1px solid transparent;
  border-radius: 10px;
}

.edit:hover {
  color: #529445;
  transform: scale(1.1);
  border: 1px solid #529445;
  transition: transform 0.2s ease, color 0.3s ease;
}

.delete {
  color: #B25A69;
  border: 1px solid transparent;
  border-radius: 10px;
}

.delete:hover {
  color: #944552;
  transform: scale(1.1);
  border: 1px solid #944552;
  transition: transform 0.2s ease, color 0.3s ease;
}

.edit,
.delete {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

table {
  width: 90%;
  font-size: 14px;
  border-collapse: collapse;
}

thead {
  color: #2D336B;
}

thead th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #2D336B;
}

thead th:last-child,
td:last-child {
  text-align: center;
}

tbody tr:hover {
  background-color: #E6E6FA;
  transition: background-color 0.5s ease;
}

td {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}